<html><head>
    <title>Astronomy Picture of the Day
    </title> 
    <!-- gsfc meta tags -->
    <meta name="orgcode" content="661">
    <meta name="rno" content="phillip.a.newman">
    <meta name="content-owner" content="Jerry.T.Bonnell.1">
    <meta name="webmaster" content="Stephen.F.Fantasia.1">
    <meta name="description" content="A different astronomy and space science
    related image is featured each day, along with a brief explanation.">
    <!-- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="dark matter, universe, cosmology">
    <!-- -->
    <script async="" src="https://www.google-analytics.com/analytics.js"></script><script id="_fed_an_ua_tag" src="//dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=NASA">
    </script>
    
    </head>
    
    <body bgcolor="#F4F4FF" text="#000000" link="#0000FF" vlink="#7F0F9F" alink="#FF0000">
    
    <center>
    <h1> Astronomy Picture of the Day </h1>
    <p>
    
    <a href="archivepix.html">Discover the cosmos!</a>
    Each day a different image or photograph of our fascinating universe is
    featured, along with a brief explanation written by a professional astronomer.
    </p><p>
    
    2021 October 31 
    <br> 
     <a href="https://apod.nasa.gov/apod/image/2110/DarkMatter_KipacAmnh_960.jpg">
    <img src="https://apod.nasa.gov/apod/image/2110/DarkMatter_KipacAmnh_960.jpg" alt="The picture shows a computer simulation of the matter
    distribution in our universe with dark matter shown in a 
    dark color on a light background.
    Please see the explanation for more detailed information." style="max-width:100%"></a>
    </p></center>
    
    <center>
    <b> Dark Matter in a Simulated Universe </b> <br> 
    <b> Illustration Credit &amp; Copyright: </b> 
    <a href="https://kipac.stanford.edu/people/tom-abel">Tom Abel</a> &amp; 
    <a href="https://www.slac.stanford.edu/~kaehler/">Ralf Kaehler</a> 
    (<a href="https://kipac.stanford.edu/">KIPAC</a>, 
    <a href="https://www6.slac.stanford.edu/">SLAC</a>), 
    <a href="https://www.amnh.org/">AMNH</a>
    </center> <p> 
    
    <b> Explanation: </b> 
    Is our universe haunted? 
    
    It might look that way on this 
    <a href="https://www.nasa.gov/audience/forstudents/9-12/features/what-is-dark-matter.html">dark matter</a> map. 
    
    The gravity of unseen 
    <a href="https://chandra.harvard.edu/xray_astro/dark_matter/">dark matter</a> 
    is the leading explanation for why 
    <a href="http://ircamera.as.arizona.edu/NatSci102/NatSci/lectures/darkmatter.htm">galaxies rotate so fast</a>, 
    why <a href="https://medium.com/starts-with-a-bang/galaxy-clusters-prove-dark-matters-existence-fd962c979458">galaxies orbit clusters so fast</a>, 
    why <a href="https://www.lsst.org/sites/default/files/img/xxnyt.jpg">gravitational lenses so strongly deflect light</a>, 
    and why <a href="ap140512.html">visible matter</a> is distributed as it is both 
    <a href="https://w.astro.berkeley.edu/~mwhite/models.html">in the local universe</a> and 
    <a href="http://background.uchicago.edu/~whu/intermediate/driving2.html">on the cosmic</a> 
    <a href="ap130325.html">microwave background</a>. 
    
    The featured image from the 
    <a href="https://www.amnh.org/">American Museum of Natural History</a>'s 
    <a href="https://www.amnh.org/research/hayden-planetarium">Hayden Planetarium</a> 
    Space Show 
    <a href="https://www.amnh.org/exhibitions/space-show/dark-universe/">Dark Universe</a> 
    highlights one example of how pervasive dark matter might haunt our universe. 
    
    In this frame from a 
    <a href="https://www.youtube.com/watch?v=zEEg1XkbXDo">detailed computer simulation</a>, 
    complex filaments of dark matter, shown in black, are strewn 
    <a href="ap111003.html">about the universe</a> like 
    <a href="https://www.badspiderbites.com/giant-spider-web/">spider webs</a>, while the relatively rare clumps of familiar 
    <a href="https://en.wikipedia.org/wiki/Baryon">baryon</a>ic 
    matter are colored orange.
    
    <a href="https://www.slac.stanford.edu/~kaehler/homepage/visualizations/dark-matter.html">These simulations</a> are good statistical matches to astronomical observations. 
    
    In what is perhaps a scarier turn of events, 
    <a href="https://en.wikipedia.org/wiki/Dark_matter">dark matter</a> -- although quite strange and in an 
    <a href="https://home.cern/science/physics/dark-matter">unknown form</a> -- 
    is no longer thought to be the strangest source of 
    <a href="https://ui.adsabs.harvard.edu/abs/2008AmJPh..76..265N/abstract">gravity in the universe</a>.
    
    That honor now falls to 
    <a href="https://science.nasa.gov/astrophysics/focus-areas/what-is-dark-energy">dark energy</a>, a more uniform source of 
    <a href="http://www.preposterousuniverse.com/blog/2013/11/16/why-does-dark-energy-make-the-universe-accelerate/">repulsive gravity</a> 
    that seems to now dominate the expansion of the entire universe. 
    
    </p><p> </p><center> 
    <b> Not only Halloween: </b> 
    <a href="https://www.darkmatterday.com/">Today is Dark Matter Day</a>. <br>
    <b> Tomorrow's picture: </b>waterfall milky way 
    
    <p> </p><hr>
    <a href="ap211030.html">&lt;</a>
    | <a href="archivepix.html">Archive</a>
    | <a href="lib/apsubmit2015.html">Submissions</a> 
    | <a href="lib/aptree.html">Index</a>
    | <a href="https://antwrp.gsfc.nasa.gov/cgi-bin/apod/apod_search">Search</a>
    | <a href="calendar/allyears.html">Calendar</a>
    | <a href="/apod.rss">RSS</a>
    | <a href="lib/edlinks.html">Education</a>
    | <a href="lib/about_apod.html">About APOD</a>
    | <a href="http://asterisk.apod.com/discuss_apod.php?date=211031">Discuss</a>
    | <a href="ap211101.html">&gt;</a>
    
    <hr><p>
    <b> Authors &amp; editors: </b>
    <a href="http://www.phy.mtu.edu/faculty/Nemiroff.html">Robert Nemiroff</a>
    (<a href="http://www.phy.mtu.edu/">MTU</a>) &amp;
    <a href="https://antwrp.gsfc.nasa.gov/htmltest/jbonnell/www/bonnell.html">Jerry Bonnell</a> (<a href="http://www.astro.umd.edu/">UMCP</a>)<br>
    <b>NASA Official: </b> Phillip Newman
    <a href="lib/about_apod.html#srapply">Specific rights apply</a>.<br>
    <a href="https://www.nasa.gov/about/highlights/HP_Privacy.html">NASA Web
    Privacy Policy and Important Notices</a><br>
    <b>A service of:</b>
    <a href="https://astrophysics.gsfc.nasa.gov/">ASD</a> at
    <a href="https://www.nasa.gov/">NASA</a> /
    <a href="https://www.nasa.gov/centers/goddard/">GSFC</a>
    <br><b>&amp;</b> <a href="http://www.mtu.edu/">Michigan Tech. U.</a><br>
    </p></center>
    
    
    
    </body></html>